# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Env / OS
.env*.local
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
next-env.d.ts
*.tsbuildinfo

.vercel

# PWA build artifacts
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/swe-worker-*.js
public/swe-worker-*.js.map
public/fallback-*.js
